* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

:root {
	--primary-font: "Roboto", sans-serif;
}

body {
	background-color: #0a9c6f;
}

.container-principal {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 1100px;
	background-color: white;
	margin: auto;
}