* {
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: var(--primary-font);
}

:root {
	--primary-font: "Roboto", sans-serif;
}

body {
	background-color: #0a9c6f;
}

.container-principal {
	display: grid;
	grid-template-columns: 320px 1fr;
	max-width: 1100px;
	background-color: white;
	margin: auto;
	height: 90vh;
	color:white;
	margin-top: 40px;
	border-radius: 10px;
}

.seccion-izquierda {
	background-color: #121b22;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
}

.header-izquierdo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.perfil {
	display: flex;
	align-items: center;
}
.nombre-perfil{
	margin-left: 10px;
}

.boton {
	background-color: #121b22;
	border: none;
	margin-right: 10px;
}

.buscador {
	background-color: #1f2c34;
	border: none;
	height:40px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px;
	padding:5px;
	width: 300px;
}

.chat-individual1 {
	border-left: solid;
	border-left-color: #2dca7a;
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.chat-individual{
	display: flex;
	align-items: center;
	padding-top: 10px;
}

.nombre-mensaje{
	padding-top: 10px;
	padding-left: 10px;
}

.mensaje-minimizado {
	font-size: 14px;
	padding-left: 5px;
	padding-top: 5px;
}

.seccion-derecha {
	color:black;
}

.header-derecho {
	background-color: #fefff6;
	border-bottom: solid;
	border-bottom-color: #dfdfe1;
	display: flex;
	align-items: center;
	height:80px;
	border-top-right-radius: 10px;
}

.mensaje-izquierda {
	width:320px;
	height:50px;
	padding:10px;
	margin-top: 30px;
	margin-left: 10px;
	background-color: #fefff6;
	border-radius: 15px;
	box-shadow: 0 1px 0 rgba(138,138,138,0.25);
}

.mensaje-derecha{
	width:320px;
	height:50px;
	padding: 10px;
	margin-top: 30px;
	margin-right: 10px;
	background-color: #a6dab7;
	border-radius: 15px;
	box-shadow: 0 1px 0 rgba(138,138,138,0.25);
	margin-left: auto;
}

.hora-mensaje{
	float: right;
	font-size: 14px;
}

.footer-derecho{
	margin-top: 230px;
	text-align: center;
}

.boton-clip{
	border:none;
	margin-right: 5px;
}

.boton-send{
	border:none;
	background-color: #138b80;
	border-radius: 30%;
	padding: 5px;
}

button {
	border-radius: 50%;
}

img {
	width: 50px;
	border-radius: 50%;
	margin-left: 10px;
	margin-top: 10px;
}


ul {
	list-style-type: none;
}

input {
	width:80%;
	height:40px;
	border-radius: 10px;
	border: none;
}